body{
    background-image:url(./Images/BG.jpg);
    background-size :cover;
} 

h1{
    text-align:center;
    background-color:rgba(255, 61, 104,0.3);
}

p{
    text-align:justify;
    margin:50px 50px 50px 50px;
    font-family: monospace;
    font-size: 25px;
    text-transform: capitalize;
    width:80%;
    background-color:rgba(255, 61, 104,0.5);
    margin-left: 150px;
}

#id1{
    text-align:center;
    background-color:rgba(122, 13, 37,0.5);
}

#img1{
    padding-left:200px;
    width:200px;
    height:250px;
}

#img2{
    padding-left:250px;
    width:200px;
    height:250px;
}

#img3{
    padding-left:250px;
    width:200px;
    height:250px;
}

div{
    background-color:rgba(122, 13, 37,0.5);
    
}

#id2{
    background-color: rgba(167, 52, 137,0.5);
}

h3{
    background-color:rgba(167, 52, 137,1);
    color:#FF3D68;
    font-family:Lucida Sans Unicode;
    font-size:50px;
    text-align:center;
    width:50%;
    margin-left: 25%;
}

#img4{
    width:250px;
    height: 250px;
    margin-left:"50px"
}

